/*      #fff          */
/*      #00A6A6      */
/*      #EFCA08      */
/*      #037971      */
/*      #F4970A      */
/*      #B72135      */
/*      #D7263D       */
/*      #F8333C       */
/*      #FF7733       */







body {
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

header {
    display: block;
}

h1 {
    font-size: 5em;
    margin-bottom: 0;
}
}

h2 {

}

h1, h2 {
    text-align: center;
    color: #00A6A6;
}

.summary {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: #037971;
}

div {
    display: block;
}

.preamble {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background: #F49F0A;
    color: #fff;
    box-shadow: 10px 10px #EFCA08;
}

.supporting div:nth-child(odd) {
    background: #EFCA08;
    box-shadow: 10px 10px #F49F0A;
}

.preamble, .supporting div {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background: #F49F0A;
    color: #fff;
    box-shadow: 10px 10px #EFCA08;
}

footer {
    background: #B72135;
    padding: 20px 30px;
    display: block;
    margin-top: 50px;
}

footer a {
    text-align: center;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #EFCA08;
}

aside {
    display: block;
}



.design-selection {
    padding: 30px 0 40px 30px;
    background-color: #D7263D;
}

.design-archives {
    padding: 30px 0 40px 30px;
    background-color: #F8333C;
}

.zen-resources {
    padding: 30px 0 40px 30px;
    background-color: #FF7733;
}